<!DOCTYPE html>
<html>
    <head>
        <title>Contact Me</title>
    </head>
    <h1 align ="center">Contact Me</h1>
    <form>
<fieldset>
        <label>NAME: </label>
      <input type="text" name="name" id="name" placeholder="NAME" required> <br>
      <label>LASTNAME: </label> 
      <input type="text" name="lastname" id="lastname" placeholder="LASTNAME"><br>
      <label>Email</label>
      <input type="email" name="email" id="email" placeholder="E-mail" required><br>
      <label>Cellphone Number: </label>
      <input type="number" name="Cellphone" id="cellphone" placeholder="Cellphone" required>
      <input type="submit">
    </fieldset>
      </form>