<!DOCTYPE html>
<html>
<head>
<title>Homepage</title>
<style>
.container{
background-image:url("backfround.jpg");
background-size:100%;
background-repeat:no-repeat;
height:1500px;
background-position
}
body{ 
color:white;
align:center;
}
</style>
</head>
<body >
<div class="container">
<h1 >Welcome to the introduction of LIZBETH R. MOKGALA</h1>
<p>
Greetings! I am Lizbeth Mokgala an individual who finds boundless fascination in the ever-evolving world of Information Technology specifically software development ,AI,Machine Learning and Data science. At the age of 19, I stand at the threshold of my second year in pursuit of a Bachelor of Science (BSC) degree in Information Technology. With each passing day, my passion for this dynamic field grows stronger, propelling me toward a future where I hope to make meaningful contributions.

Beyond the realm of algorithms and code, I am a person of diverse interests and talents. Sports, in particular, hold a significant place in my life. Among the array of athletic endeavors I pursue, netball and tennis have been my steadfast companions on the journey of physical and mental development. Whether I am on the court, strategizing my next move, or in the virtual realm, problem-solving complex programming challenges, the thrill of competition and the pursuit of excellence drive me forward.

As I navigate the Academic Maze, I am also discovering my capacity to bridge the gap between theory and practice especially when i want to pursue a lot of careers in Technology. It's not merely about acquiring knowledge, but about using it to craft innovative solutions and embark on exciting ventures. In the world of IT, every line of code, every database query, and every system architecture becomes a canvas for my creativity.

Beyond my academic and sporting pursuits, I relish opportunities for personal growth and community involvement. Engaging in volunteering activities and connecting with people from diverse backgrounds enriches my perspective and reminds me of the power of empathy and unity in shaping a brighter future.

With the boundless possibilities that lie ahead, I eagerly embrace the challenges and opportunities that await on this exhilarating journey of self-discovery and accomplishment. As I continue to carve my path in the field of Information Technology and explore the limitless horizons of my interests, I am excited to see where this exciting chapter of life will lead me.

Feel free to insert your specific details, experiences, and aspirations where indicated to personalize this introduction. It serves as a foundation for creating a well-rounded introduction that reflects your unique personality and experiences.
</p>
<button ="submit">More information</button>
</div> 
<p>