<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Lizbeth Mokgala</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
<header class="header">
    <nav class="header-nav">
        <ul>
            <li><a href="/about">About Me</a></li>
            <li><a href="/contact">Contact Me</a></li>
        </ul>
    </nav>
    <nav class="header-nav">
        <a href="https://instagram.com/_c.h.a.n.d.r.a__l.e.l.a_?igshid=OGQ5ZDc2ODk2ZA=="><img src="/static/img/icons8-instagram-30.png"></a>
        <a href="https://www.facebook.com/july.fivteen"><img src="/static/img/icons8-facebook-30.png"></a>
    </nav>
</header>

    <main class="main">
        <section class="intro">
 <h1>Welcome to the Introduction of Lizbeth Mokgala</h1>
<p>I am a web developer with a passion for data science and software development. With a strong foundation in web development, I'm on a journey to become a proficient data scientist and software developer, aiming to bridge the gap between data-driven insights and powerful software solutions. Join me on this exciting journey as we explore the world of technology and its limitless possibilities.</p>

        </section>

        <!-- Rest of your content goes here -->

    </main>
</body>
</html>

